* {
  scroll-behavior: smooth !important;
  font-family: Roboto;
}

.hero-wrap-index {
  background-image: url("../images/rainbow-bg.gif") !important;
  background-size: 100% 100%;
}

body {
  background-image: url("../images/stars-bg.gif") !important;
  background-position: center;
  background-size: 60% 60%;
}

.hero-wrap-works {
  background-color: transparent;
}

.card {
  background-color: transparent;
  opacity: 0.5;
  transition: 0.5s ease;
}

.card:hover {
  opacity: 1;
  transition: 0.5s ease;
}
